
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>
      <div class="registration">
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user',  local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :nickname, "ニックネーム" %><br />
          <%= f.text_field :nickname, id:"user_nickname" %>
        </div>

        <div class="field">
          <%= f.label :name, "本名" %><br />
          <%= f.text_field :last_name, id:"user_lastname" %>
          <%= f.text_field :first_name, id:"user_firstname" %>
        </div>

         <div id='custom-date-select''>
         <%= f.label :gender, "性別" %>
         <%= f.select :gender, options_for_select([['男性', 'male'], ['女性', 'female']]) %>
          </div>

         <div id='custom-date-select'>
           <%= f.label :birth_date, "生年月日" %>
           <%= f.date_select :birth_date, start_year: 1900, end_year: Date.today.year %>
         </div>
        <div class="field">
          <%= f.label :phonenumber, "電話番号" %><br />
          <%= f.text_field :phonenumber, id:"user_phonenumber" %>
        </div>

        <div class="registration">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
