<div class='stages' >
  <div class='profile'>
  <%= @user.nickname %>さん</br>
   <%= @user.age %>歳</br>
    性別:<%= @user.gender %>
    </div>
 <ul class='stage-lists'>
  <% @stages.each do |stage| %>
   
      <li class='list'>
        <%= link_to stage_path(stage) do %>
        <%= stage.title %></br>
        <%= stage.reward %>円<br><%= stage.show_hour.name %><%= stage.show_minute.name %>
         〜
        <%= stage.end_hour.name %><%= stage.end_minute.name %></br>
        <%= stage.theater %></br> 
        
        <% end %>
        </li>
         <% end %>
        </ul>
        <%= link_to "参加リクエスト", participate_stages_path, class: :participate__btn %>
        </div>
     
    