<div class='profile'>
    <%= @apply.user.nickname %>さん</br>
    <%= @apply.user.age %>歳</br>
    性別:<%= @apply.user.gender %></br>
    <div class='approval'>
      <%= link_to "承認する", participate_stage_path(@stage, user_id: @apply.user.id), class: 'room__btn', method: :post, data: { turbo_method: :post, turbo_action: 'replace', turbo_frame: '_top' } %>
      <span class='approval-message' style='display:none;'>参加が承認されました</span>
    </div>
      <div class="container">
    <% if user_signed_in? %>
      <%= form_with model:[@stage, @apply,@comment],local: true do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
      <% end %>
  </div>
  </div>
  <div class="comments">
      <h1>＜コメント一覧＞</h1>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
</div>

  