<div class="detail-lists">
      <div class="show_title">
        <%= @stage.title %></br>
      </div>
      <%= @stage.month.name %><%= @stage.day.name %>
      <%= @stage.show_hour.name %><%= @stage.show_minute.name %>
      〜
      <%= @stage.end_hour.name %><%= @stage.end_minute.name %></br>
      【謝礼】</br>
      <%= @stage.reward %>円<br>
      </div>
<div class='profile'>
    <%= @apply.user.nickname %>さん</br>
    <%= @apply.user.age %>歳</br>
    <%= translate_gender(@apply.user.gender) %></br>
    <%= form_with model: [@stage,@apply], local: true do |form| %>
    
      <% if current_user.id == @stage.user_id %>
 <button id="approval-button" class="room__btn" data-url="<%= participate_stage_path(@stage, user_id: current_user.id) %>" data-apply-id="<%= @apply.id %>">承認する</button>
 <% end %>
   <% end %>
      <span class='approval-message' style='display:none;'>参加が承認されました</span>
      <div class="container">
      <%= form_with model:[@stage, @apply, @comment],local: true do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <br>(例)参加よろしくお願いします。</br>
            (例)申し訳ありません、定員に達しました。<br>
        <%= form.submit "SEND" %>
      <% end %>
  </div> 

  </div>
  <div class="comments">
      <h1>＜コメント一覧＞</h1>
      <% @comments.each do |comment| %>
        <p>
           <%= comment.user.nickname %>
          <%= comment.text %>
        </p>
      <% end %>
        <% if current_user.id == @stage.user_id %>
      <div class='bill__btn'>
      <%= link_to "支払い", pay_form_stage_path(stage_id: @stage.id, user_id: @apply.user.id), class: :pay__btn %>
</div>
 <% end %>
</div>
  