<%= form_with model: [@stage, @apply], local: true do |f| %>
  <div class="pay">
    <div class='pay_money'>
      <%= current_user.nickname %>さん</br>
      残高 ¥.<%= current_user.money %></br>
      <div class="field">
        <%= f.label :money, "謝礼金" %><br />
        ¥.<%= f.text_field :money, id:"user_money" %>
      </div>
      <div class="arrow">⬇️</div>
      <%= @apply.user.nickname %>さん</br>
    </div>
    <%= f.hidden_field :action_type, value: 'pay' %>
     <%= f.submit "支払う", class: 'pay__btn', id: 'pay-button', data: { apply_id: @apply.id } %>
    <span class='pay-message' style='display:none;'>支払い済み</span>
  </div>
<% end %>
