<div class="detail">
<%= form_with model: [ @stage,@apply], local: true do |f|%>

  <div class="detail-list">
    <div class="show_title">
<%= @stage.title %></br></div>
<%= @stage.month.name %><%= @stage.day.name %>
<%= @stage.show_hour.name %><%= @stage.show_minute.name %>
〜
<%= @stage.end_hour.name %><%= @stage.end_minute.name %></br>
【謝礼】</br>
<%= @stage.reward %>円<br>
【会場】</br>
<%= @stage.theater %></br>
【会場住所】</br>
<%= @stage.address %></br>
【条件】</br>
<%= @stage.conditions %></br>
</div>
<div class="show_btn" >
  <% if user_signed_in? && current_user.id == @stage.user_id %>
  <div class="return">
    <%= link_to "編集する", edit_stage_path, class: :return__btn %>
    <% end %>
  </div>
  <% if user_signed_in? %>
 <div class="participate">
  <%= f.hidden_field :stage_id, value: @stage.id %>
    <%= f.submit "参加を申し込む", class: :participate__btn  %>
  </div>
  </div>
  <% end %>
<% end %>
</div>