<%= form_with model: @stage, local: true do |f|%>
<%= @stage.title %></br>
謝礼<%= @stage.reward %>円<br>
<%= @stage.show_hour.name %><%= @stage.show_minute.name %>
〜
<%= @stage.end_hour.name %><%= @stage.end_minute.name %></br>
会場
<%= @stage.theater %></br>
会場住所
<%= @stage.address %></br>
条件
<%= @stage.conditions %></br>
 <div class="participate">
    <%= f.submit "参加を申し込む", class: :participate__btn  %>
  </div>
  <div class="return">
    <%= f.submit "戻る", class: :return__btn  %>
  </div>
<% end %>